.product-section{
    height: 100vh;
    position: relative;
    /* padding: 0px 40px; */
    /* overflow: hidden; */
}

.back img{
    height: 28px;
    width: 28px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%,-50%);
}


.forward img{
    height: 28px;
    width: 28px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%,-50%);
}


.product-container .product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product p{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.product p strong{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.react-multi-carousel-list{
    justify-content: center;
    height: 100vh;
    
}


.circle {
    position: relative;
    height: 150px;
    width: 150px;
    margin-bottom: 5px;
  }
  
  .circle::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #887979;
    transition: all 0.3s ease;
    border-radius: 50%;
  }
  .product-img{
    height: 160px;
    width: 160px;
    position: relative;
    display: block;
    margin: 10px;
}